/*Global*/
* {
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: #393232;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

html {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #FFF;
}

body {
    width: 60%;
    margin: auto;
}

.blueaccent {
  color: #275dad;  
}

h1 {
    font-size: 40px;
    font-weight: 300;
    color: #FFF;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    margin-top: 7%;
}

h2 {
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
}

h5{
    font-size: 18px;
    color: #707070;
    opacity: .8;
    margin-top: 10px;
}

p {
    color: #FFF;
    font-weight: 100;
    font-size: 28px;
    font-family: 'Slabo 27px', serif;

}

/*landing*/
/*
.landing {
    height: 100vh;
}

.landingWrapper {
    display: flex;
    justify-content: space-between;
}
*/

ul {
    list-style: none;
    margin-top: 30px;
    line-height: 50px;
}

li {
    font-size: 24px;
    color: #FFF;
    font-family: 'Slabo 27px', serif;

}

li a {
    color: #FFF;
    text-decoration: none;
    background-image: linear-gradient(to right, #393232 50%, #ed8d8d 50%);
    background-size: 200%;
}

li a:hover {
   background-position: -100%;
    transition-duration: 1s;
}
/*titles*/
#hp {
    text-align: center;
    margin-top: 2.5em;
}


#copyright {
    opacity: 1;
}

.underlineSmall {
    display: block;
    height: 3px;
    width: 41px;
    margin: 5px auto 0 auto;
}

.footer p {
    font-size: 12px;
}

@media only screen and (max-width: 1024px) {
     h1 {
        line-height: 1em;
    }
    
}